$action-safe: 3.5%;
$title-safe: 5%;

$stroke-color: #f00;
$stroke-width: 0.1rem;
$stroke-dasharray: 5, 10, 5;
$stroke-dotted: 3, 3;

$frame-stroke-width: $stroke-width;
$cross-stroke-width: $stroke-width;

$cross-stroke-color: $stroke-color;

.safe-area__component {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: absolute;
}

.safe-area__component {
  rect, line {
    stroke-width: $stroke-width;
  }
}

.area {
  fill: transparent;
  stroke: $stroke-color;
  stroke-dasharray: $stroke-dasharray;
}

.cross {
  stroke: $cross-stroke-color;
  stroke-width: $cross-stroke-width;
  stroke-dasharray: $stroke-dotted;
}

.area {
  &__action-safe {
    x: $action-safe;
    y: $action-safe;
    width: round(100% - ($action-safe * 2));
    height: round(100% - ($action-safe * 2));
  }

  &__title-safe {
    x: $title-safe;
    y: $title-safe;
    width: round(100% - ($title-safe * 2));
    height: round(100% - ($title-safe * 2));
  }
}

.safe-area__component line {
  stroke: red;
}

line.cross__line1 {
  x1: 45%;
  y1: 50%;
  x2: 55%;
}

line.cross__line2 {}

